*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#667eea,#764ba2);

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:30px;

}

.container{

width:420px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

padding:25px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.2);

text-align:center;

color:white;

}

h1{

margin-bottom:20px;

}

input{

width:100%;

padding:15px;

border:none;

border-radius:10px;

outline:none;

margin-bottom:20px;

font-size:16px;

}

.buttons{

display:flex;

gap:10px;

}

button{

flex:1;

padding:14px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

background:#00c6ff;

color:white;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

background:#0072ff;

}

.qr-box{

margin-top:25px;

margin-bottom:25px;

}

.qr-box img{

width:220px;

display:none;

margin:auto;

}

.history-title{

margin:15px 0;

font-size:20px;

font-weight:bold;

}

.history-item{

background:white;

color:black;

padding:10px;

border-radius:10px;

margin-bottom:12px;

}

.history-item img{

width:100px;

margin:10px 0;

}

.history-item button{

margin-top:5px;

width:100%;

}

.clear{

background:red;

margin-top:15px;

}